<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcD98SRuDzUhx1lg10GcO6cdsbyD6k_4s</string>
	<key>GCM_SENDER_ID</key>
	<string>467685700660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiva.kts</string>
	<key>PROJECT_ID</key>
	<string>kts-app-306a8</string>
	<key>STORAGE_BUCKET</key>
	<string>kts-app-306a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467685700660:ios:483a67125051e27a9c8661</string>
</dict>
</plist>